.display_cards:not(:nth-child(-n+3)) {
    display: none;
}

@media (min-width: 600px) {

    .display_cards:not(:nth-child(-n+3)) {
        display: block;
    }

    .display_cards:not(:nth-child(-n+5)) {
        display: none;
    }
}

@media (min-width: 1024px) {

    .display_cards:not(:nth-child(-n+5)) {
        display: block;
    }

    .display_cards:not(:nth-child(-n+8)) {
        display: none;
    }
}
